@font-face {
	font-family: "Gianinos"; /* the name you’ll use in CSS */
	src: url("/fonts/GianinosFreeRegular-KVRKX.ttf") format("truetype");
	font-weight: normal; /* you can also set bold, 100–900 */
	font-style: normal; /* or italic */
}
