@import "tailwindcss";
@import "./fonts/fonts.css";

body {
	background: #000;
	min-height: 100dvh;
	width: 100%;
	overflow: auto;
}

@layer {
	@layer {
		.hide-scroll {
			@apply [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden;
		}

		.grid-view {
			@apply grid gap-2 grid-cols-[repeat(auto-fill,minmax(240px,1fr))] sm:grid-cols-[repeat(auto-fill,minmax(250px,1fr))];
		}

		.glass {
			background: rgba(255, 255, 255, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.3);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}

		.glass-mod {
			background: rgba(30, 41, 59, 0.314);
			border: 1px solid rgba(30, 41, 59, 50);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}
		.glass-head-btn {
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}

		/*  */

		.article-content h1 {
			@apply text-3xl font-bold mt-6 mb-4 text-white;
		}

		.article-content h2 {
			@apply text-2xl font-semibold mt-5 mb-3 text-white;
		}

		.article-content h3 {
			@apply text-xl font-medium mt-4 mb-2 text-white;
		}

		.article-content p {
			@apply text-base leading-relaxed text-white;
		}

		.article-content a {
			@apply text-blue-300 hover:underline;
		}

		.article-content ul {
			@apply list-disc list-inside mb-2 pl-2 text-white;
		}

		.article-content ol {
			@apply list-decimal list-inside mb-4 pl-2 text-white;
		}

		.article-content blockquote {
			@apply border-l-4 border-white/50 pl-4 italic text-white my-4;
		}

		.article-content img {
			@apply rounded-lg shadow-md my-4;
		}
	}
}
